In [133]:
#Librerias - Importar dataset
import pandas as pd
df = pd.read_csv("meteo.csv")
df[:10]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,0.0,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,0.0,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,0.0,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,1.4,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,0.0,No

In [134]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn

from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report

In [135]:
# Contar valores nulos
df.isnull().sum()

Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [136]:
print(type(df))
print(df.keys())

<class 'pandas.core.frame.DataFrame'>
Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [137]:
#Al parecer la variable RISK_MM es muy relevante, imprimire la cantidad de casos en que RISK_MM es mayor a 1
contadorNoLlueve = 0;
contadorSiLLueve = 0;
for i in range (142193):
    if (df['RISK_MM'][i])>=1:
        if (df['RainTomorrow'][i]) == 'Yes' :
            contadorSiLLueve +=1;
        else:
            contadorNoLlueve +=1;
print("Llueve aparecio "+str(contadorSiLLueve)+" veces")
print("No llueve aparecio "+str(contadorNoLlueve)+" veces")

Llueve aparecio 31877 veces
No llueve aparecio 1761 veces

Como se ve efectivamente RISK_MM es una variable a considerar, ahora quitare del dateset las columnas 

-Evaporation 
-Sunshine   
-Cloud9am    
-Cloud3pm   

Porque faltan muchos datos, ademas de las variables date y lugar, ya que son cualitativas y se extenderia demasiado el dataset 
si las convierto en dummy variables

In [138]:
df_data = df.drop(['Evaporation','Sunshine','Cloud9am','Cloud3pm','Date','Location'], 1)
df_data.head()

,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,0.0,No
1,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,0.0,No
2,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,0.0,No
3,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,1.0,No
4,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,0.2,No

In [139]:
#Verificar que efectivamente se eliminaron
print(df_data.keys())
df_data.isnull().sum()

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustDir', 'WindGustSpeed',
       'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm',
       'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

MinTemp            637
MaxTemp            322
Rainfall          1406
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

Para las variables nulas que nos quedan, relleno los datos con el promedio de los demas

In [65]:
print(df_data.mean())

MinTemp            12.186400
MaxTemp            23.226784
Rainfall            2.349974
WindGustSpeed      39.984292
WindSpeed9am       14.001988
WindSpeed3pm       18.637576
Humidity9am        68.843810
Humidity3pm        51.482606
Pressure9am      1017.653758
Pressure3pm      1015.258204
Temp9am            16.987509
Temp3pm            21.687235
RISK_MM             2.360682
dtype: float64

Cambiar el valor nulo por los promedios

In [140]:
df_data['MinTemp'].fillna(12.186400,inplace=True)
df_data['MaxTemp'].fillna(23.226784,inplace=True)
df_data['Rainfall'].fillna(2.349974,inplace=True)
df_data['WindGustSpeed'].fillna(39.984292,inplace=True)
df_data['WindSpeed9am'].fillna(14.001988,inplace=True)
df_data['WindSpeed3pm'].fillna(18.637576,inplace=True)
df_data['Humidity3pm'].fillna(51.482606,inplace=True)
df_data['Pressure9am'].fillna(1017.653758,inplace=True)
df_data['Pressure3pm'].fillna(1015.258204,inplace=True)
df_data['Temp9am'].fillna(16.987509,inplace=True)
df_data['Temp3pm'].fillna(21.687235,inplace=True)
df_data['RISK_MM'].fillna(2.360682,inplace=True)

Verificar que ahora no hay variables nulas

In [141]:
df_data.isnull().sum()

MinTemp              0
MaxTemp              0
Rainfall             0
WindGustDir       9330
WindGustSpeed        0
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am       1774
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Temp9am              0
Temp3pm              0
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

Ahora elimino las columnas de las variables nulas, puesto que se deberian convertir en dummy variables

In [142]:
df_data = df_data.drop(['WindGustDir','WindDir9am','WindDir3pm','Humidity9am','RainToday'], 1)
df_data.head()

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RISK_MM,RainTomorrow
0,13.4,22.9,0.6,44.0,20.0,24.0,22.0,1007.7,1007.1,16.9,21.8,0.0,No
1,7.4,25.1,0.0,44.0,4.0,22.0,25.0,1010.6,1007.8,17.2,24.3,0.0,No
2,12.9,25.7,0.0,46.0,19.0,26.0,30.0,1007.6,1008.7,21.0,23.2,0.0,No
3,9.2,28.0,0.0,24.0,11.0,9.0,16.0,1017.6,1012.8,18.1,26.5,1.0,No
4,17.5,32.3,1.0,41.0,7.0,20.0,33.0,1010.8,1006.0,17.8,29.7,0.2,No

In [143]:
df_data.isnull().sum()

MinTemp          0
MaxTemp          0
Rainfall         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Temp9am          0
Temp3pm          0
RISK_MM          0
RainTomorrow     0
dtype: int64

Cambiar los 'No' por 0 y los 'Si' por 1

In [100]:
df_data_entrenar = df_data;

In [146]:
df_data['RainTomorrow'] = df_data['RainTomorrow'].map({'Yes': 1, 'No': 0})

In [147]:
df_data.isnull().sum()

MinTemp          0
MaxTemp          0
Rainfall         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Temp9am          0
Temp3pm          0
RISK_MM          0
RainTomorrow     0
dtype: int64

In [152]:
X = df_data.iloc[0:len(df),0:11]
#Variable a predecir
y = df_data.iloc[0:len(df),12]

# Entrenar

In [153]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state=25)
print(X_test)

        MinTemp  MaxTemp   Rainfall  WindGustSpeed  WindSpeed9am  \
113750  13.8000     19.4   2.349974      61.000000     11.000000
109628   8.6000     23.7   0.000000      28.000000     11.000000
15887   12.1864     28.4   2.349974      39.984292     14.001988
58251    2.4000     15.5   0.000000      26.000000      0.000000
11653   15.1000     24.6   0.000000      30.000000      7.000000
18092   17.7000     22.8   7.000000      65.000000     14.001988
77341    4.2000     13.6   0.000000      37.000000      7.000000
112522  16.6000     29.7   0.000000      57.000000     15.000000
106275   9.8000     14.7   0.000000      39.984292      0.000000
38917   17.6000     22.5   0.000000      17.000000      6.000000
72056    5.7000     14.1   2.800000      69.000000     26.000000
94017   18.5000     25.3   2.600000      31.000000     11.000000
58762    8.9000     23.6   0.000000      41.000000     24.000000
83556   18.4000     25.5   0.000000      20.000000      4.000000
27780    0.9000     18.3   0.000000      41.000000      0.000000
82284   24.7000     33.1   0.000000      37.000000     11.000000
92806   17.0000     27.6   0.000000      48.000000     19.000000
11344   18.5000     27.7   0.200000      59.000000     24.000000
115872  12.4000     22.4   4.400000      26.000000     15.000000
67823   10.4000     12.7   0.000000      31.000000     15.000000
57120   14.2000     27.0   0.000000      44.000000     22.000000
126681   7.3000     14.2   8.400000      24.000000      7.000000
32364   22.6000     27.7   0.000000      30.000000     11.000000
10539   14.4000     22.0   0.000000      26.000000     17.000000
23768    8.6000     19.7   1.200000      46.000000      7.000000
91150   18.9000     29.8   0.000000      43.000000     24.000000
116371  13.9000     31.9   0.000000      57.000000     20.000000
73797   10.3000     17.8   0.400000      33.000000     15.000000
60575    6.6000     15.3   0.000000      17.000000     11.000000
79924    3.8000     13.7   0.000000      50.000000     26.000000
...         ...      ...        ...            ...           ...
6593     6.5000     21.2   0.000000      26.000000      7.000000
47147    5.9000     27.4   8.600000      30.000000      9.000000
72793   14.3000     33.8   0.000000      67.000000      9.000000
28998   17.1000     30.9   0.000000      30.000000      7.000000
31089   11.1000     20.2   0.000000      39.000000     13.000000
125471  14.6000     21.1   0.000000      44.000000     17.000000
22754   22.0000     24.1   8.200000      41.000000     19.000000
122708   4.9000     18.3   0.000000      33.000000     13.000000
31842   14.0000     33.8   0.000000      63.000000     11.000000
88325   20.4000     28.0   0.200000      43.000000     15.000000
62831    7.1000     16.1   0.000000      37.000000     22.000000
78596   15.7000     21.5  19.400000      57.000000     15.000000
82269   22.7000     28.1   5.400000      50.000000     11.000000
95511   10.6000     15.3   1.000000      33.000000     11.000000
96407   21.7000     35.0   0.000000      31.000000      2.000000
88604   21.9000     28.5   0.400000      39.000000     11.000000
25908   10.3000     26.2   0.000000      26.000000      2.000000
134066  18.7000     33.7   0.400000      56.000000      9.000000
80783    6.1000     20.1   1.000000      43.000000     13.000000
59094    1.9000     16.3   0.000000      39.000000     17.000000
17244   14.2000     28.2   0.000000      39.984292      0.000000
133076  10.2000     22.5   0.000000      41.000000     20.000000
51      24.4000     34.0   0.600000      98.000000     26.000000
64520   12.6000     25.7   0.200000      37.000000      7.000000
47639   13.2000     27.7   0.000000      52.000000     13.000000
111976  21.2000     36.5   0.000000      63.000000     33.000000
126144  12.6000     20.3   0.000000      35.000000     11.000000
20695   20.4000     24.9   1.800000      37.000000     19.000000
111376  12.7000     21.1   0.800000      43.000000     22.000000
15391   10.0000     19.4   0.000000      39.984292      0.000000

        WindSpeed3pm  Humidity3pm  Pressure9am  Pressure3pm    Temp9am  \
113750     26.000000    76.000000  1015.300000  1012.600000  14.400000
109628     19.000000    47.000000  1026.200000  1022.300000  16.800000
15887      18.637576    51.482606  1017.653758  1015.258204  16.987509
58251       6.000000    62.000000  1030.500000  1028.300000   8.000000
11653      19.000000    78.000000  1012.000000  1009.600000  22.600000
18092      33.000000    62.000000  1018.300000  1017.200000  20.600000
77341      15.000000    56.000000  1011.500000  1007.800000   9.200000
112522     19.000000    20.000000  1018.200000  1012.500000  19.500000
106275      9.000000    71.000000  1027.300000  1026.300000  12.500000
38917       7.000000    97.000000  1021.400000  1018.600000  20.700000
72056      44.000000    54.000000  1015.700000  1012.700000   6.600000
94017      15.000000    45.000000  1009.200000  1007.900000  20.700000
58762      17.000000    24.000000  1027.100000  1024.800000  12.000000
83556       4.000000    70.000000  1012.000000  1010.200000  22.900000
27780      19.000000    38.000000  1017.000000  1016.300000   9.100000
82284      19.000000    66.000000  1010.600000  1006.500000  30.100000
92806      35.000000    56.000000  1023.300000  1020.400000  23.100000
11344      39.000000    53.000000  1010.400000  1011.200000  24.200000
115872      9.000000    45.000000  1018.000000  1015.300000  16.600000
67823      13.000000    64.000000  1017.700000  1014.200000  11.500000
57120      20.000000    33.000000  1011.700000  1015.258204  17.600000
126681     13.000000    72.000000  1017.600000  1017.200000   8.300000
32364      20.000000    63.000000  1020.500000  1017.900000  25.800000
10539      15.000000    63.000000  1030.700000  1029.100000  18.800000
23768      20.000000    49.000000  1017.653758  1015.258204  11.600000
91150      33.000000    51.000000  1017.700000  1014.000000  27.500000
116371     22.000000    36.000000  1019.700000  1015.300000  23.400000
73797      19.000000    55.000000  1009.900000  1010.200000  15.000000
60575       6.000000    73.000000  1027.000000  1023.900000   9.300000
79924      22.000000    67.000000  1011.300000  1005.400000   9.800000
...              ...          ...          ...          ...        ...
6593        9.000000    39.000000  1021.800000  1020.200000  13.300000
47147      24.000000    45.000000  1029.900000  1025.800000  13.200000
72793      15.000000    74.000000  1000.400000  1003.200000  20.400000
28998      13.000000    47.000000  1016.600000  1011.900000  21.300000
31089      19.000000    31.000000  1013.200000  1009.700000  13.400000
125471     19.000000    44.000000  1017.200000  1018.000000  18.800000
22754      19.000000    92.000000  1011.900000  1012.100000  22.900000
122708     13.000000    56.000000  1017.653758  1015.258204  13.200000
31842      17.000000    23.000000  1016.000000  1012.900000  18.400000
88325      20.000000    68.000000  1017.900000  1014.100000  24.500000
62831      19.000000    50.000000  1026.000000  1025.200000  10.700000
78596      30.000000    54.000000   995.000000  1001.400000  18.300000
82269      17.000000    68.000000  1010.700000  1008.800000  26.300000
95511      13.000000    73.000000  1015.900000  1015.100000  12.900000
96407      19.000000    24.000000  1014.000000  1012.600000  27.400000
88604      17.000000    64.000000  1008.400000  1004.700000  26.400000
25908       4.000000    31.000000  1017.653758  1015.258204  15.800000
134066     24.000000    36.000000  1007.500000  1004.400000  27.100000
80783      20.000000    43.000000  1018.200000  1019.200000  14.100000
59094      26.000000    49.000000  1023.500000  1023.800000  10.900000
17244      18.637576    51.482606  1017.653758  1015.258204  19.000000
133076     26.000000    40.000000  1016.200000  1013.600000  17.300000
51         48.000000    39.000000  1005.300000   997.800000  26.100000
64520      15.000000    34.000000  1014.100000  1011.300000  16.400000
47639      13.000000    25.000000  1014.500000  1012.500000  17.300000
111976     17.000000    14.000000  1015.300000  1012.500000  24.000000
126144     15.000000    50.000000  1019.900000  1020.500000  16.900000
20695      24.000000    71.000000  1016.100000  1014.200000  22.900000
111376     28.000000    39.000000  1014.800000  1014.300000  16.700000
15391       0.000000    63.000000  1017.653758  1015.258204  16.500000

          Temp3pm
113750  17.400000
109628  20.700000
15887   21.687235
58251   15.300000
11653   23.500000
18092   22.000000
77341   13.100000
112522  29.000000
106275  13.200000
38917   19.800000
72056   13.200000
94017   24.000000
58762   22.600000
83556   23.100000
27780   17.700000
82284   30.900000
92806   25.100000
11344   26.100000
115872  21.800000
67823   12.500000
57120   25.400000
126681  14.000000
32364   26.200000
10539   21.000000
23768   17.600000
91150   27.900000
116371  30.300000
73797   16.200000
60575   14.700000
79924   13.500000
...           ...
6593    19.400000
47147   24.500000
72793   21.500000
28998   29.400000
31089   19.100000
125471  19.800000
22754   23.000000
122708  16.900000
31842   30.800000
88325   26.700000
62831   14.700000
78596   20.800000
82269   26.700000
95511   15.100000
96407   34.100000
88604   27.300000
25908   25.400000
134066  31.500000
80783   18.300000
59094   15.400000
17244   21.687235
133076  20.600000
51      33.100000
64520   24.800000
47639   26.200000
111976  34.900000
126144  18.300000
20695   24.000000
111376  19.400000
15391   18.400000

[42658 rows x 11 columns]

In [154]:
#Aprendizaje
LogReg = LogisticRegression()
LogReg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [155]:
print("coeficientes del modelo: "+str(LogReg.coef_))
print("intercept: "+str(LogReg.intercept_))

coeficientes del modelo: [[ 0.05817635 -0.02721218  0.03054094  0.06569832 -0.01245023 -0.02903105
   0.0652071   0.11951939 -0.12670608 -0.03500124  0.02101333]]
intercept: [0.00220658]

In [156]:
#Predicciones
y_pred = LogReg.predict(X_test)
y_pred

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [157]:
#EvaluaciÃ³n del rendimiento del clasificador
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
confusion_matrix

array([[31504,  1644],
       [ 5272,  4238]], dtype=int64)

In [158]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.95      0.90     33148
           1       0.72      0.45      0.55      9510

   micro avg       0.84      0.84      0.84     42658
   macro avg       0.79      0.70      0.73     42658
weighted avg       0.83      0.84      0.82     42658

In [159]:
print(df_data.keys())

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 'WindSpeed9am',
       'WindSpeed3pm', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Temp9am',
       'Temp3pm', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

Segun lo obtenido por los coeficientes del modelo, las buenas variables predictoras son:
WindGustSpeed y Humidity3pm